<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.RelatedContentDetection" description="Related Content Detection Module" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="f:\Projects\Sitecore.ReleatedContentDetection\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.RelatedContentDetection.Templates" database="master" path="/sitecore/templates/Feature/Related Content Detection" />
            <include name="Feature.RelatedContentDetection.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Related Content Detection" />
            <include name="Feature.RelatedContentDetection.Media" database="master" path="/sitecore/media library/Feature/Related Content Detection" />
          </predicate>
          <!--
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\pagecontent\roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature PageContent .*$" />
          </rolePredicate>
          -->
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>